# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FTS2.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\FTS2\FTS2\.idea\.idea.FTS2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
